<!--
  Generated template for the BoxCreatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Third Box Creator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="todo">   
    <table>
      <tbody >
        <tr >
          <th>A</th>
          <td formArrayName="a"
          *ngFor="let item of todo.get('a')['controls']; let i = index;">
            <div [formGroupName]="i">
              <!-- <input formControlName="name" type="tel" min="1" max="1">        -->
              <ion-input type="tel" maxlength="1" clearInput formControlName="name"></ion-input>

            </div>
            
          </td>
          <td>
            <button type="button" (click)="addAItem()"><ion-icon name="add"></ion-icon></button>
          </td>
        </tr>
        <tr >
          <th>B</th>
          <td formArrayName="b"
          *ngFor="let item of todo.get('b')['controls']; let i = index;">
            <div [formGroupName]="i">
              <ion-input type="tel" maxlength="1" clearInput formControlName="name"></ion-input>
            </div>
            
          </td>
          <td>
            <button type="button" (click)="addBItem()"><ion-icon name="add"></ion-icon></button>
          </td>
        </tr>
        <tr >
          <th>C</th>
          <td formArrayName="c"
          *ngFor="let item of todo.get('c')['controls']; let i = index;">
            <div [formGroupName]="i">
              <ion-input type="tel" maxlength="1" clearInput formControlName="name"></ion-input>

            </div>
            
          </td>
          <td>
            <button type="button" (click)="addCItem()"><ion-icon name="add"></ion-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <button ion-button full (click)="boxTCreator()">
    <span>Generator</span>
  </button>

  

  <div padding>
    <p class="fonts">{{tempStore}}</p>
  </div>
  
  
</ion-content>
<ion-footer *ngIf="tempStore.length > 0">
  <ion-toolbar>
    <button ion-button text-only full (click)="ShareSocial()">Share Social</button>
  </ion-toolbar>
</ion-footer>
