<ion-header>
  <ion-navbar>
    <ion-title>
      RX ABI
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


<div class="vwpcenter">

  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <button ion-button full (click)="boxTCreator()">
          <span>Third Box Creator</span>
        </button> -->
        <ion-card color="primary" (click)="boxTCreator()">     
          <ion-card-content padding>
            <div>
              <span>Third Box Creator</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-6>
        <!-- <button ion-button (click)="boxFoCreator()">
          <span>Four Box Creator</span>
        </button> -->
        <ion-card color="primary" (click)="boxFoCreator()">     
          <ion-card-content padding>
            <div>
              <span>Four Box Creator</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <!-- <button ion-button (click)="boxFiCreator()">
          <span>Five Box Creator</span>
        </button> -->
        <ion-card color="primary" (click)="boxFiCreator()">     
          <ion-card-content padding>
            <div>
              <span>Five Box Creator</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>


</ion-content>