page-five-box-creater {

    table tbody tr td{
        padding: 5px;
    }
    table tbody tr td input[type='tel']{    
        width: inherit;
        border: unset;
        border-bottom: 1px solid;
        text-align: center;
    }
    .text-input-md {
        margin: 7px 0px;
    }
    .input-md[clearInput] .text-input {
        padding-right: unset;
    }
    .fonts{
        font-size: 1.7rem;
    }
}
